
/*
*{
    margin:0;
    padding:0;
}
*/
body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    /*same as above*/
    font: 600 16px arial, helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.box-1{
    background-color: #333;
    color: #fff;
    border: 5px red solid;
    padding: 20px;
    margin: 20px 0px;
}
.box-1 h1{
    font-family: 'Segoe UI', Arial, Helvetica, serif, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}
.box-2{
    border:3px dotted #ccc;
    padding: 20px;
    margin: 20px 0px;
}
.categories{
    border: 3px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}
.categories h2{
    text-align: center;
}
.categories ul{
    padding: 0px;
    padding-left: 20px;
    list-style: none;
}
.categories li{
    padding: 6px;
    border-bottom: 1px dotted #333;
    /*list-style-image: url('../IMG/check.jpeg');*/
}
#para1{
    word-spacing: 10px;
}
#para1::first-line{
    text-transform: uppercase;
}
#para1::first-letter{
    font-size: 50px;
}
#para1a::first-letter{
    font-size: 50px;
    text-transform: uppercase;
}
#para2{
    word-spacing: 10px;
}
#para3{
    word-spacing: 10px;
    
#para4::first-line{
    text-transform: uppercase;
}
#para4::first-letter{
    font-size: 100px;
}